Flask==3.1.0
Flask-Login==0.6.3
celery==5.3.6
redis==5.0.1
requests==2.31.0
prometheus-flask-exporter==0.23.0
pymysql==1.1.0

# Dev / Testing
pytest==8.0.0
pytest-mock==3.12.0
locust==2.20.0
black==24.0.0
flake8==7.0.0
