apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bugkiller
      component: redis
  template:
    metadata:
      labels:
        app: bugkiller
        component: redis
    spec:
      containers:
      - name: redis
        image: redis:7-alpine
        ports:
        - containerPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: redis-service
spec:
  selector:
    app: bugkiller
    component: redis
  ports:
    - port: 6379
      targetPort: 6379
